<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Socket name="socket" host="localhost" port="12345" reconnectionDelayMillis="10000">
			<SerializedLayout/>
		</Socket>
		
		<Console name="std" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
		</Console>
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="socket"/>
			<AppenderRef ref="std"/>
		</Root>
	</Loggers>
</Configuration>