<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="DataServer" connectionString="Server=localhost;Database=jyzn; User=admin;Password=1234;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=false; Max Pool Size=50; " providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
